.carouselContainer {
    display: none;
    position: relative;
    height: calc(300px + 15vh);
    background-color: var(--s-dark);
    padding: 3rem 0;
}

.carousel {
    display: flex;
    position: relative;
    height: 100%;
    width: 60%;
    max-width: 1111px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
}

.carouselImgContainer {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: transform 750ms ease-in-out, opacity 700ms ease-in-out;
}

.carouselImg {
    border-radius: 5px;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.buttons {
    width: 60%;
    max-width: 1111px;
    margin: 0 auto;
    height: 3rem;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 20%;
    right: 20%;
    font-size: 3rem;
}

.leftBtn, .rightBtn {
    margin: 0 1rem;
    cursor: pointer;
    position: absolute;
    padding: 2px;
    border-radius: 2.5rem;
    color: var(--p-dark);
    transition: background-color 250ms ease-in-out;
}

.leftBtn:hover, .rightBtn:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.rightBtn {
    right: 0;
}

.carouselImgContainer:not(:first-child) {
    /*to keep all carousel items on the right side of first item*/
    transform: translateX(100%);
}

@media (min-width: 768px) {
    .carouselContainer {
        display: block;
    }
}

@media (min-width: 1441px) {
    .buttons {
        font-size: 5rem;
    }
}