.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--lightest);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.navBarContent {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
}

.siteTitle {
    margin: 0 auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-family: 'Baskervville', serif;
}

.fa__icon {
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
}

.userControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.menuBtn {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LAPTOPS */
@media (min-width:768px) {
    .navBar {
        padding: 0rem;
    }

    .menuBtn {
        /*hiding hamburger menu btn on large screens*/
        display: none;
    }

    .siteTitle {
        font-size: 2rem;
        margin: 0;
    }

    .navBarContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .userControls {
        display: flex;
    }

}