.plusIcon {
    width: 1rem;
    margin-left: 0.5rem;
}

/* MOBILE */
.Navigation {
    display: none;
}

/* DESKTOP */
@media (min-width: 768px) {

    .Navigation {
        display: flex;
    }

    .Navigation .navLinks {
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-direction: row;
        gap: 2.5rem;
    }

    .Navigation .navLinks>li {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.1rem;
        margin-top: 2.5px;
        /* margin-top balances the border bottom */
        border-bottom: 2.5px solid transparent;
        transition: border 250ms ease-in-out;
    }

    .Navigation .navLinks>li:hover {
        border-bottom: 2.5px solid var(--q-dark);
    }

    .Navigation .dropdownContainer {
        /* nav > ul > li */
        cursor: pointer;
    }

    .dropdownContainer:hover>.dropdownMenu {
        visibility: visible;
        opacity: 1;
    }

    .dropdownContainer:hover>ul {
        visibility: visible;
        opacity: 1;
    }

    .dropdownMenu {
        /*nav > ul > li > ul*/
        /* display: block; */
        visibility: hidden;
        opacity: 0;
        cursor: default;
        position: absolute;
        /* padding top with transparent bg shifts the dropdown menu downward */
        padding-top: 1.5rem;
        background-color: transparent;
        transition: opacity 300ms ease-in-out;
    }

    .dropdownMenuItem {
        cursor: pointer;
        background-color: var(--p-light);
        /*nav > ul > ul > li*/
        position: relative;
        margin: 0;
        border-bottom: 1px solid var(--q-light);
        width: 15rem;
        line-height: 5rem;
        text-indent: 2.5rem;
    }

    .dropdownMenuItem:hover {
        background-color: var(--t-light);
    }
}