.footer {
    margin-top: 2.5rem;
    font-size: 1.1rem;
    width: 100%;
    color: var(--p-light);
    line-height: 1.75rem;
}

.aboveFooter {
    background-color: #343A40;
    padding: 1.5rem 2rem;
}

.belowFooter {
    background-color: var(--p-dark);
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem 0;
}

.aboveFooter__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.footerCol:nth-child(1) {
    text-align: center;
}

.footerCol:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.footerCol {
    width: 100%;
}

.siteTitle {
    font-size: 1.75rem;
}

.footerMenu {
    list-style-type: none;
}

.footerMenu__title {
    text-decoration: underline;
    line-height: 3rem;
}

.footer>li::after{
    content:" ";
}
.footerMenu>li:hover::after {
    content: " <-";
}

.icon {
    margin-right: auto;
    width: 15px;
    padding-right: 0.5rem;
}

@media (min-width:450px) {
    .aboveFooter {
        padding: 1rem 0.5rem;
    }

    .aboveFooter__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        /*aligning all menu titles*/
        gap: 0;
    }

    .footerCol {
        padding: 0;
    }

    .siteTitle {
        font-size: 1.6rem;
    }

    .footerCol:nth-child(1) {
        margin: auto;
        /*to center the site title and tagline*/
    }

    .footerCol:nth-child(2) {
        justify-content: space-around;
    }

    .icon {
        padding-right: 0.25rem;
    }
}