* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

*::selection {
  background-color: #adb5bd;
  color: var(--lightest);
}

:root {
  font-size: 10px;
  --lightest: #F8F9FA;
  --p-light: #E9ECEF;
  --s-light: #DEE2E6;
  --t-light: #CED4DA;
  --q-light: #ADB5BD;
  --q-dark: #6C757D;
  --t-dark: #495057;
  --s-dark: #343A40;
  --p-dark: #212529;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  color: var(--s-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

.root {
  margin-top: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1111px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

main {
  width: 100%;
  margin-top: 3rem;
}

.sectionTitle {
  line-height: 7rem;
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  html {
    font-size: 1.6rem;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 2.5rem;
  }
}