.hero {
    height: 90vh;
    position: relative;
}

.heroImg__container {
    width: 100%;
}

/* .heroImg {} */

.heroText {
    position: absolute;
}

.heroText__heading {
    color: #ADB5BD;
}