.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.siteTitle {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 600;
    font-family: 'Baskervville', serif;
}

.navLinks {
    display: none;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
@media (min-width:768px) {
    .navLinks {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        list-style: none;
    }
}