.featuredProducts {
    position: relative;
    padding: 2.5rem 0 7rem 0;
}

.products {
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.productCard {
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2.5rem;
    height: 250px;
    width: 200px;
    transition: box-shadow 250ms ease;
}

.productCard:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.tooltip {
    visibility: visible;
    opacity: 1;
    position: absolute;
    padding: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    color: var(--p-light);
    background-color: var(--p-dark);
    transition: all 250ms ease;
}

.price {
    color: var(--q-light);
}

@media (min-width:768px) {
    .products {
        flex-direction: row;
        justify-content: center;
    }

    .tooltip {
        visibility: hidden;
        opacity: 0;
    }

    .productCard:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
}